<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    
    <style>
    
    
</style>
    <style type="text/css">
    html, body 
    {
        height: 100%;
        margin: 0;
        padding: 0;
        width:100%
    }
    form
    {
        width:100%;
        align:center;
    }
    </style>

  </head>
  <body>
    <fieldset>
        <form action="/home" method="post" class="btn-group">
            <div align="center" style="
            vertical-align: middle;
            height:  100%;
            padding:  20%;">
            <input type="submit" name="selection" value="Watch IMD" class="button">
            <!--<input type="submit" name="selection" value="News and Crime Incidents Mashup" class="button">-->                                 
            </div>
            
        </form>    
    </fieldset>

  </body>
</html>
